@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&family=Lexend+Deca:wght@100;200;300;400;500;600;700&family=Poppins:wght@300;400;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html{
  font-size: 62.5%;
}

table {
  margin: 5rem auto;
  border-radius: 2rem;
  border: 1rem hidden #443C68;
  border-collapse: collapse;
  box-shadow: 0 0 0 1px black;
  overflow: hidden;
  max-width: 40rem;
}

li, p, a, td{
  font-size: 1.6rem;
  line-height: 1.6;
}

thead {
  font-size: 1.8rem;
  background-color: #443C68;
  color: #fff;
}

th,
td {
  border: 1px solid #4b3d88;
  min-width: 30rem;
  padding: 1.5rem;
  line-height: 1.7;
}

td {
  font-size: 1.4rem;
}