* {
    padding: 0;
    margin: 0;
    
}

.img {
    display: block;
    margin-left: 70px;
    margin-right: auto;
    width: 15%;
    max-height: 150px;
}
.navbar{
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
}